<template>
  <common-layout>
    <div class="top">
      <div class="header">
        <!-- <img alt="logo" class="logo" src="@/assets/img/logo.png" /> -->
        <span class="title">{{systemName}}</span>
      </div>
      <div class="desc"></div>
    </div>
    <div class="login">
      <a-form @submit="onSubmit" :form="form">
        <a-tabs size="large" :tabBarStyle="{textAlign: 'center'}" style="padding: 0 2px;">
          <a-tab-pane tab="Sign In Email" key="1">
            <a-alert type="error" :closable="true" v-show="error" :message="error" showIcon style="margin-bottom: 24px;" />
            <a-form-item>
              <a-input
                autocomplete="autocomplete"
                size="large"
                placeholder="email"
                v-decorator="['name', {rules: [{ required: true, message: 'This field is Required', whitespace: true}]}]"
              >
                <a-icon slot="prefix" type="user" />
              </a-input>
            </a-form-item>
            <a-form-item>
              <a-input
                size="large"
                placeholder="888888"
                autocomplete="autocomplete"
                type="password"
                v-decorator="['password', {rules: [{ required: true, message: 'Password required', whitespace: true}]}]"
              >
                <a-icon slot="prefix" type="lock" />
              </a-input>
            </a-form-item>
          </a-tab-pane>
          <a-tab-pane tab="Sign In Mobile" key="2">
            <a-form-item>
              <a-input size="large" placeholder="mobile number" >
                <a-icon slot="prefix" type="mobile" />
              </a-input>
            </a-form-item>
            <a-form-item>
              <a-row :gutter="8" style="margin: 0 -4px">
                <a-col :span="16">
                  <a-input size="large" placeholder="captcha">
                    <a-icon slot="prefix" type="mail" />
                  </a-input>
                </a-col>
                <a-col :span="8" style="padding-left: 4px">
                  <a-button style="width: 100%" class="captcha-button" size="large">Authenticate</a-button>
                </a-col>
              </a-row>
            </a-form-item>
          </a-tab-pane>
        </a-tabs>
        <template v-if="showerror">
  <a-alert message="Username and Password Combination is wrong" type="error" />
</template>
        <div>
          <a-checkbox :checked="true" >Remember Me</a-checkbox>
          <a style="float: right">Forgot Password</a>
        </div>
        <a-form-item>
          <a-button :loading="logging" style="width: 100%;margin-top: 24px" size="large" htmlType="submit" type="primary">Login</a-button>
        </a-form-item>
        <div>
          By Referral Only
          <!-- <a-icon class="icon" type="alipay-circle" />
          <a-icon class="icon" type="taobao-circle" />
          <a-icon class="icon" type="weibo-circle" /> -->
          <router-link style="float: right" to="signup" >SignUp</router-link>
        </div>
      </a-form>
    </div>
  </common-layout>
</template>

<script>
import CommonLayout from '@/layouts/CommonLayout'
import {login, getInfo} from '@/services/user'
import {setAuthorization} from '@/utils/request'
import {loadRoutes} from '@/utils/routerUtil'
import {mapMutations} from 'vuex'

export default {
  name: 'Login',
  components: {CommonLayout},
  data () {
    return {
      showerror:false,
      logging: false,
      error: '',
      form: this.$form.createForm(this)
    }
  },
  computed: {
    systemName () {
      return this.$store.state.setting.systemName
    }
  },
  methods: {
    ...mapMutations('account', ['setUser', 'setPermissions', 'setRoles']),
    onSubmit (e) {
      e.preventDefault()
      this.form.validateFields((err) => {
        if (!err) {
          this.logging = true
          const email = this.form.getFieldValue('name')
          const password = this.form.getFieldValue('password')
                    login(email, password).then(this.getUserinfo).catch(function(error){
//this.logging = false
        //  login(email, password).then(this.afterLogin).catch(function(error){
           // $message.error("username or password is incorrect")
            console.log(error.message)
            
          } )
  this.doshowerror()
                   

         
        }
      })


    },

    doshowerror(){
            setTimeout(() => {
        this.logging = false;
        this.showerror = true;
     
      }, 2000);

    },
        getUserinfo(res){
        this.logging = false
      console.log("doing getuserinfo")
      console.log(res)
      getInfo(res).then(this.afterLogin).catch(function(error){
            console.log(error)
            this.logging = false
          })

    },
    // getUserinfo(res){
    //     this.logging = false
    //   console.log("doing getuserinfo")
    //   console.log(res)
    //   getInfo(res).then(this.afterLogin).catch(function(error){
    //         console.log(error)
    //         this.logging = false
    //       })

    // },

    afterLogin(res) {
      this.logging = false
      console.log("afterlogin started")
      console.log(res)
      const loginRes = res.data
      if (loginRes.code >= 0) {

        console.log(loginRes)
       // const {user, permissions, roles} = loginRes.data.data
        const user = loginRes.data.user
        const permissions = loginRes.data.permissions
        const roless = loginRes.data.roles
        console.log(user)
        console.log(permissions)
        console.log(roless)
        this.setUser(user)
        this.setPermissions(permissions)
        this.setRoles(roless)
        setAuthorization({token: loginRes.data.token, expireAt: new Date(loginRes.data.expireAt)})
        
        // 
       
          const routesConfig = loginRes.data.data
          console.log(routesConfig)
          loadRoutes(routesConfig)
         let roles = roless[0]
         if (roles == "su"){
            this.$router.push('/suDash')
            this.$message.success(loginRes.message, 3)
            
          } else if (roles == "bmanager") {
            this.$router.push('/bdmDash')
            this.$message.success(loginRes.message, 3)
            
          }else if (roles == "bworker") {
            this.$router.push("/bdwDash")
            this.$message.success(loginRes.message, 3)
            
          }else if (roles == "cowner") {
            this.$router.push("/crrOwnerDash")
            this.$message.success(loginRes.message, 3)
            
          }else if (roles == "cdriver") {
            this.$router.push("/crrDriverDash")
            this.$message.success(loginRes.message, 3)
            
          }else{
            this.$router.push("/dashboard/analysis")
                        this.$message.success(loginRes.message, 3)

          }
          
       
      } else {
        this.error = loginRes.message
      }
    }
  }
}
</script>

<style lang="less" scoped>
  .common-layout{
    .top {
      text-align: center;
      .header {
        height: 44px;
        line-height: 44px;
        a {
          text-decoration: none;
        }
        .logo {
          height: 44px;
          vertical-align: top;
          margin-right: 16px;
        }
        .title {
          font-size: 33px;
          color: @title-color;
          font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
          font-weight: 600;
          position: relative;
          top: 2px;
        }
      }
      .desc {
        font-size: 14px;
        color: @text-color-second;
        margin-top: 12px;
        margin-bottom: 40px;
      }
    }
    .login{
      width: 368px;
      margin: 0 auto;
      @media screen and (max-width: 576px) {
        width: 95%;
      }
      @media screen and (max-width: 320px) {
        .captcha-button{
          font-size: 14px;
        }
      }
      .icon {
        font-size: 24px;
        color: @text-color-second;
        margin-left: 16px;
        vertical-align: middle;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
          color: @primary-color;
        }
      }
    }
  }
</style>
