<template>
  <page-layout :avatar="currUser.avatar">
    <!-- <div slot="headerContent">
      <div class="title">{{welcome.timeFix}}，{{currUser.name}}，{{welcome.message}}</div>
      <div>{{currUser.position}}</div>
    </div> -->
    <!-- <template slot="extra">
      <head-info class="split-right" :title="  'project'" content="56"/>
      <head-info class="split-right" :title="  'ranking'" content="8/24"/>
      <head-info class="split-right" :title="  'visit'" content="2,223"/>
    </template> -->
    <!-- <template>
      <a-row style="margin: 0 -12px">
        <a-col style="padding: 0 12px" :xl="16" :lg="24" :md="24" :sm="24" :xs="24">

          <a-card :loading="loading" :title="  'team'" :bordered="false">
            <div class="members">
              <a-row>
                <a-col :span="12" v-for="(item, index) in teams" :key="index">
                  <a>
                    <a-avatar size="small" :src="item.avatar" />
                    <span class="member">{{item.name}}</span>
                  </a>
                </a-col>
              </a-row>
            </div>
          </a-card>
        </a-col>
      </a-row>
    </template> -->
  </page-layout>
</template>

<script>
import PageLayout from '@/layouts/PageLayout'
//import HeadInfo from '@/components/tool/HeadInfo'
//import Radar from '@/components/chart/Radar'
import {mapState} from 'vuex'
import {request, METHOD} from '@/utils/request'

export default {
  name: 'WorkPlace',
  components: {  PageLayout},
  i18n: require('./i18n'),
  data () {
    return {
      projects: [],
      loading: true,
      activities: [],
      teams: [],
      welcome: {
        timeFix: '',
        message: ''
      }
    }
  },
  computed: {
    ...mapState('account', {currUser: 'user'}),
    ...mapState('setting', ['lang'])
  },
  created() {
    request('/user/welcome', METHOD.GET).then(res => this.welcome = res.data)
    request('/work/activity', METHOD.GET).then(res => this.activities = res.data)
    request('/work/team', METHOD.GET).then(res => this.teams = res.data)
    request('/project', METHOD.GET).then(res => {
        this.projects = res.data
        this.loading = false
      })
  }
}
</script>

<style lang="less">
@import "index";
</style>
