<template>
    <page-layout>
        <a-row >

        <a-col :xs="{ span: 10, offset: 1 }" :lg="{ span: 10, offset: 1 }">
          <a-button :type="btninfo.base.type" @click="baseclicked">Base Deal Definition </a-button>
               </a-col>
          <a-col :xs="{ span: 10, offset: 1 }" :lg="{ span: 10, offset: 1 }">
  <a-button v-bind:type="btninfo.endpoint.type" @click="endpointclicked">EndPoint Test</a-button>
       </a-col>
       
        </a-row>
        <div class="space"></div>
        <!-- <a-row>
  <a-col :xs="{ span: 8, offset: 1 }" :lg="{ span: 8, offset: 1 }">

  <a-button type="dashed">Some Endpoint</a-button>
       </a-col>
<a-col :xs="{ span: 8, offset: 1 }" :lg="{ span: 4, offset: 1 }">
            <a-button type="primary">AppEndpoint</a-button>
                 </a-col>
            <a-col :xs="{ span: 8, offset: 1 }" :lg="{ span: 4, offset: 1 }">
  <a-button>SpreadSheetEndpoint</a-button>
        </a-col>

        </a-row> -->
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
        <createonedeal v-if="globalshow.showbaseform"> </createonedeal>
        <createonedealendpoint v-if="globalshow.showendpointform"></createonedealendpoint>
       </page-layout>
</template>


<script>
import PageLayout from "../../../layouts/PageLayout.vue"
import createonedeal from "../../../components/discovery/createonedeal.vue"
import createonedealendpoint from "../../../components/discovery/createonedealendpoint.vue"
const topbtninfo = {"base":{
                        "type":"primary",
  
                        },
          endpoint: {
        type:""
            },
}

const globalshow = {
  showbaseform: true,
  showendpointform:false,
  showsucess: false,
}
export default {
    name:"producerendpoint",
    components:{PageLayout, createonedeal, createonedealendpoint},
    setup() {
        
    },
    data() {
    return {
      labelCol: { span: 4 },
      btninfo: topbtninfo,

globalshow : globalshow,
      wrapperCol: { span: 14 },
      form: {
        name: '',
        region: undefined,
        date1: undefined,
        delivery: false,
        type: [],
        resource: '',
        desc: '',
        
      },
    };
  },
  methods: {
    onSubmit() {
      console.log('submit!', this.form);
    },
    doBaseClicked(){
      this.btninfo.base.type = "primary"
      this.btninfo.endpoint.type = ""
      this.globalshow.showbaseform = true
      this.globalshow.showendpointform= false
    },
    doEndpointClicked(){
      this.btninfo.base.type = ""
      this.btninfo.endpoint.type = "primary"
      this.globalshow.showbaseform=false
      this.globalshow.showendpointform= true
    },
    doGroupChange(actionstring) {
      if (actionstring=="base"){
        this.doBaseClicked()
      }
      if (actionstring == "endpoint"){
        this.doEndpointClicked()
      }
    },

    endpointclicked() {
      this.doGroupChange("endpoint")
    },

    baseclicked(){
      this.doGroupChange("base")
    },

  },
}
</script>

<style scoped>
.space {
  margin: 30px;
}
</style>