<template>
    <editonedeal></editonedeal>
</template>

<script>
import editonedeal from '../../../components/discovery/editonedeal.vue'
//import editonedeal from '../../../components/discovery/editonedeal.vue'
export default {
  components: { editonedeal },
    setup() {
        
    },
}
</script>