<template>
    <page-layout>
        <div slot="headerContent">
            <!-- <div class="title">{{welcome.timeFix}}, {{currUser.name}}, {{welcome.message}}</div>
            <div>{{currUser.position}}</div> -->
        </div>
        <template slot="extra">
            <head-info class="split-right" title=" 'project' " content="56" />
            <head-info class="split-right" title=" 'ranking' " content="8/24" />
            <head-info class="split-right" title=" 'visit' " content="2,233" />
       
        </template>
        <template>
            <a-row style="">
            <div>
            <a-row>

                <a-col style="padding: 0 12px" >
                    <a-card class="">
                        Create User Groups 
                    </a-card>
                </a-col>
            </a-row>
            <a-divider/>
            
            <a-row> 
                    <a-col style="padding: 0 12px" :xl="8" :lg="24" :md="24" :sm="24" :xs="24">
                        <a-card>Details</a-card>
                        <group-detail v-bind:groupDetail="groupdetail"></group-detail>
                        
                    </a-col>
                    <a-col style="padding: 0 12px" :xl="8" :lg="24" :md="24" :sm="24" :xs="24">
                        <a-card>Edit</a-card>
                        <group-form/>
                    </a-col>
                    <a-col style="padding: 0 12px" :xl="8" :lg="24" :md="24" :sm="24" :xs="24">
                        <a-card>All</a-card>
                        <group-All v-bind:data="groups" v-bind:columns="columns"></group-All>
                    </a-col>
                </a-row>
                <a-divider/>
                </div>

                            <div>
            <a-row>

                <a-col style="padding: 0 12px" >
                    <a-card class="">
                        This Section
                    </a-card>
                </a-col>
            </a-row>
            <a-divider/>
            
            <a-row> 
                    <a-col style="padding: 0 12px" :xl="8" :lg="24" :md="24" :sm="24" :xs="24">
                        <a-card>Details</a-card>
                    </a-col>
                    <a-col style="padding: 0 12px" :xl="8" :lg="24" :md="24" :sm="24" :xs="24">
                        <a-card>Edit</a-card>
                    </a-col>
                    <a-col style="padding: 0 12px" :xl="8" :lg="24" :md="24" :sm="24" :xs="24">
                        <a-card>All</a-card>
                        
                    </a-col>
                </a-row>
                <a-divider/>
                </div>

                                            <div>
            <a-row>

                <a-col style="padding: 0 12px" >
                    <a-card class="">
                        This Section
                    </a-card>
                </a-col>
            </a-row>
            <a-divider/>
            
            <a-row> 
                    <a-col style="padding: 0 12px" :xl="8" :lg="24" :md="24" :sm="24" :xs="24">
                        <a-card>Details</a-card>
                    </a-col>
                    <a-col style="padding: 0 12px" :xl="8" :lg="24" :md="24" :sm="24" :xs="24">
                        <a-card>Edit</a-card>
                    </a-col>
                    <a-col style="padding: 0 12px" :xl="8" :lg="24" :md="24" :sm="24" :xs="24">
                        <a-card>All</a-card>
                    </a-col>
                </a-row>
                <a-divider/>
                </div>


            </a-row>


                            

        </template>              
    </page-layout>
</template>


<script>
import PageLayout from '@/layouts/PageLayout'
import HeadInfo from '@/components/tool/HeadInfo'
//import groupForm from '@/components/form/groupForm'
//import Radar from '@/components/chart/Radar'
import {mapState} from 'vuex'
//import GroupForm from '../../../components/form/groupForm.vue'
import groupForm from '../../../components/mycomps/groupForm.vue'
import GroupDetail from '../../../components/mycomps/groupDetail.vue'
import GroupAll from '../../../components/mycomps/allgroups.vue'
//import {request, METHOD} from '@/utils/request'
//import PageLayout from '../../layouts/PageLayout.vue'
//import HeadInfo from '../../components/tool/HeadInfo.vue'
//import { mapState } from 'vuex'
const columns = [
  {
    title: 'Name',
    dataIndex: 'name',
    scopedSlots: { customRender: 'name' },
  },
  {
    title: 'Permissions',
    className: 'column-money',
    dataIndex: 'permissions',
  },

];

const data = [
  {
    key: '1',
    name: 'John Brown',
    permissions: '￥300,000.00',
    //address: 'New York No. 1 Lake Park',
  },
  {
    key: '2',
    name: 'Jim Green',
    permissions: '￥1,256,000.00',
    //address: 'London No. 1 Lake Park',
  },
  {
    key: '3',
    name: 'Joe Black',
    permissions: '￥120,000.00',
    //address: 'Sidney No. 1 Lake Park',
  },
];
export default {
    name:"fixedCreate",
      //components: {Radar, HeadInfo, PageLayout},
  i18n: require('./i18n'),
  data() {
      return {
          groupdetail: {
              name: "brodisworker",

          },
          groups: data, 

columns: columns

      }
  },

  components: { PageLayout,HeadInfo ,groupForm, GroupDetail, GroupAll },
    setup() {
        
    },

    computed: {
        ...mapState('account', {currUser: 'user'}),
        ...mapState('setting', ['lang'])
    }
}
</script>