<template >
    <div>
              
      <div class="space"></div>
            <a-row>
        <a-col  >
<allstagedtable/> 


        </a-col>
      </a-row>
        </div>
</template>


<script>
import {  reactive, toRaw } from 'vue';
import allstagedtable from '../../../components/discovery/allstagedtable.vue'
//import PageLayout from '../../../../layouts/PageLayout.vue'
//import ActionColumns from '../../../../components/table/advance/ActionColumns.vue';
const columns = [
  {
    title: 'Deal',
    dataIndex: 'deal',
  },
  {
    title: 'DealID',
    dataIndex: 'dealid',
  },
  {
    title: 'IsNew',
    dataIndex: 'isnew',
  },
    {
    title: 'ViewDetail',
    key: 'ViewDetail',
   // fixed: 'right',
   // width: 100,
    scopedSlots: { customRender: 'action' },
  },
];

const data = [];
for (let i = 0; i < 46; i++) {
  data.push({
    key: i,
    deal: `CAR ${i}`,
    dealid: 3255564,
    isnew: `some data ${i}`,
  });
}
const baseUrl =
  'https://raw.githubusercontent.com/vueComponent/ant-design-vue/master/components/vc-slick/assets/img/react-slick/';

export default {
  name: "allstaged",
  components: {allstagedtable},
  setup() {
    const formState = reactive({
      name: '',
      region: undefined,
      date1: undefined,
      delivery: false,
      type: [],
      resource: '',
      desc: '',
    });

    const onSubmit = () => {
      console.log('submit!', toRaw(formState));
    };

    return {
      labelCol: {
        span: 4,
      },
      wrapperCol: {
        span: 14,
      },
      formState,
      onSubmit,
    };
  },
  data() {
    return {
            formLayout: 'horizontal',
      form: this.$form.createForm(this, { name: 'coordinated' }),
     
 data,
      columns,
      selectedRowKeys: [], // Check here to configure the default column
      loading: false,
     // form : {}
    };
  },
  computed: {
    hasSelected() {
      return this.selectedRowKeys.length > 0;
    },
  },
  methods: {
    handleSelectChange(){},
    handleSubmit(){},
    start() {
      this.loading = true;
      // ajax request after empty completing
      setTimeout(() => {
        this.loading = false;
        this.selectedRowKeys = [];
      }, 1000);
    },
        getImgUrl(i) {
      return `${baseUrl}abstract0${i + 1}.jpg`;
    },
        onChange(a, b, c) {
      console.log(a, b, c);
    },
    onSelectChange(selectedRowKeys) {
      console.log('selectedRowKeys changed: ', selectedRowKeys);
      this.selectedRowKeys = selectedRowKeys;
    },
  },

}
</script>

<style scoped>

</style>