<template >

<div>
        <div>
         <div class="space"></div>
         <a-row>
             <a-col> 
                 <h3> Heading info </h3>
             </a-col>
         </a-row>
 
         <div class="space"></div>
         <a-row> 
             <a-col> 
                 <a-list :grid="{ gutter: 16, xs: 1, sm: 2, md: 4, lg: 4, xl: 6, xxl: 3 }" :data-source="data">
    <a-list-item slot="renderItem" slot-scope="item, ">
      <a-card :title="item.title">
        Card content
      </a-card>
    </a-list-item>
  </a-list>
             </a-col>
         </a-row>
        </div>

            <div>
         <div class="space"></div>
         <a-row>
             <a-col> 
                 <h3> Heading info </h3>
             </a-col>
         </a-row>
 
         <div class="space"></div>
         <a-row> 
             <a-col> 
                 <a-list :grid="{ gutter: 16, xs: 1, sm: 2, md: 4, lg: 4, xl: 6, xxl: 3 }" :data-source="data">
    <a-list-item slot="renderItem" slot-scope="item, ">
      <a-card :title="item.title">
        Card content
      </a-card>
    </a-list-item>
  </a-list>
             </a-col>
         </a-row>
        </div>


            <div>
         <div class="space"></div>
         <a-row>
             <a-col> 
                 <h3> Heading info </h3>
             </a-col>
         </a-row>
 
         <div class="space"></div>
         <a-row> 
             <a-col> 
                 <a-list :grid="{ gutter: 16, xs: 1, sm: 2, md: 4, lg: 4, xl: 6, xxl: 3 }" :data-source="data">
    <a-list-item slot="renderItem" slot-scope="item, ">
      <a-card :title="item.title">
        Card content
      </a-card>
    </a-list-item>
  </a-list>
             </a-col>
         </a-row>
        </div>

            <div>
         <div class="space"></div>
         <a-row>
             <a-col> 
                 <h3> Heading info </h3>
             </a-col>
         </a-row>
 
         <div class="space"></div>
         <a-row> 
             <a-col> 
                 <a-list :grid="{ gutter: 16, xs: 1, sm: 2, md: 4, lg: 4, xl: 6, xxl: 3 }" :data-source="data">
    <a-list-item slot="renderItem" slot-scope="item, ">
      <a-card :title="item.title">
        Card content
      </a-card>
    </a-list-item>
  </a-list>
             </a-col>
         </a-row>
        </div>
</div>

</template>


<script>

const data = [
  {
    title: 'Title 1',
  },
  {
    title: 'Title 2',
  },
  {
    title: 'Title 3',
  },
  {
    title: 'Title 4',
  },
  {
    title: 'Title 5',
  },
  {
    title: 'Title 6',
  },
];
export default {
    setup() {
        
    },
    data() {
    return {
           data,
    }
    }
}
</script>

<style scoped>

.space {
    margin: 30px
}
</style>