<template >
    <div>
         <div class="space"></div>
        <a-row>
  <a-col :xs="{ span: 5, offset: 1 }" :lg="{ span: 8, offset: 1 }">

  <a-button type="dashed">Room 1</a-button>
       </a-col>
<a-col :xs="{ span: 5, offset: 1 }" :lg="{ span: 4, offset: 1 }">
            <a-button type="primary">Room 2</a-button>
                 </a-col>
            <a-col :xs="{ span: 5, offset: 1 }" :lg="{ span: 4, offset: 1 }">
  <a-button>Room 3</a-button>
        </a-col>

        </a-row>
         <div class="space"></div>
         <a-row> 
             <a-col> 
                 <a-list :grid="{ gutter: 16, xs: 1, sm: 2, md: 4, lg: 4, xl: 6, xxl: 3 }" :data-source="data">
    <a-list-item slot="renderItem" slot-scope="item, ">
      <a-card :title="item.title">
        Card content
      </a-card>
    </a-list-item>
  </a-list>
             </a-col>
         </a-row>
        </div>
</template>


<script>

const data = [
  {
    title: 'Title 1',
  },
  {
    title: 'Title 2',
  },
  {
    title: 'Title 3',
  },
  {
    title: 'Title 4',
  },
  {
    title: 'Title 5',
  },
  {
    title: 'Title 6',
  },
];
export default {
    setup() {
        
    },
    data() {
    return {
           data,
    }
    }
}
</script>

<style scoped>

.space {
    margin: 30px
}
</style>