<template>
<page-layout>
  <div>
   
      <a-row >
        <a-col :xs="{ span: 8, offset: 1 }" :lg="{ span: 6, offset: 1 }">
          <h1>All Discovery</h1>
        </a-col>
                <a-col :xs="{ span: 8, offset: 1 }" :lg="{ span: 6, offset: 2 }">
        <a-badge status="processing" text="Connected" />
        
        </a-col>

        <a-col :xs="{ span: 3, offset: 1 }" :lg="{ span: 6, offset: 2 }">
            <a-button type="primary" @click="handlecreate">
      Create
    </a-button>
        </a-col>



          
      </a-row>
      
      <div class="space"></div>
<a-row>
                  <a-col :xs="{ span: 3, offset: 1 }" :lg="{ span: 6, offset: 2 }">
            <a-button type="primary" @click="getData">
      Refresh
    </a-button>
        </a-col>
        </a-row>
          <div class="space"></div>
<discoverytable/>
     <div class="space"></div>
      <a-row>
        <a-col :xs="{ span: 15, offset: 2 }" :lg="{ span: 10, offset: 2 }">
          <div>
            <h3>Create With {{ lengthselected }} Selected</h3>
          </div>
  
  <div v-if="!showstagedcreatedsuccess">
          
 <a-form-model :model="form"  >
    <a-form-model-item label="Name">
      <a-input v-model="form.name" required="true" />
    </a-form-model-item>
    <a-form-model-item label="ByRule">
      <a-select
       v-model="form.byrule"
        placeholder="Select a option and change input text above"
        @change="onSelectChange"
      >
              <a-select-option value="none">
          None
        </a-select-option>
        <a-select-option value="rule1">
          Rule 1
        </a-select-option>
        <a-select-option value="rule2">
          Rule 2
        </a-select-option>
      </a-select>
    </a-form-model-item>
    <a-form-model-item >
      <a-button type="primary" html-type="submit" @click="handleSaveSelected()">
        Submit
      </a-button>
    </a-form-model-item>
  </a-form-model>
 
          </div>
        </a-col>
      </a-row>


      <div v-if="showstagedcreatedsuccess">
      <a-row>
        <a-col :xs="{ span: 12, offset: 5 }" :lg="{ span: 12, offset: 5 }">
          <li>Created Successfully</li>
          <li><a to="">View All</a></li>
           <li><a to="">Reset</a></li>
        </a-col>
      </a-row>
      </div>
    
  </div>
</page-layout>

</template>
<script>
import {  reactive, toRaw } from 'vue';
import discoverytable from '../../../../components/discovery/table.vue'
import {mapActions, mapGetters, mapMutations} from 'vuex'
import PageLayout from '../../../../layouts/PageLayout.vue';

//import PageLayout from '../../../../layouts/PageLayout.vue'
//import ActionColumns from '../../../../components/table/advance/ActionColumns.vue';
const columns = [
  {
    title: 'Deal',
    dataIndex: 'deal',
  },
  {
    title: 'DealID',
    dataIndex: 'dealid',
  },
  {
    title: 'IsNew',
    dataIndex: 'isnew',
  },
    {
    title: 'ViewDetail',
    key: 'ViewDetail',
   // fixed: 'right',
   // width: 100,
    scopedSlots: { customRender: 'action' },
  },
];

// const data = [];
// for (let i = 0; i < 46; i++) {
//   data.push({
//     key: i,
//     deal: `CAR ${i}`,
//     dealid: 3255564,
//     isnew: `some data ${i}`,
//   });
// }

export default {
  name: "allDeals",
  components: {discoverytable, PageLayout},
  setup() {
    const formState = reactive({
      name: '',
      region: undefined,
      date1: undefined,
      delivery: false,
      type: [],
      resource: '',
      desc: '',
    });

    const onSubmit = () => {
      console.log('submit!', toRaw(formState));
    };

    return {
      labelCol: {
        span: 4,
      },
      wrapperCol: {
        span: 14,
      },
      formState,
      onSubmit,
    };
  },
  data() {
    return {
            formLayout: 'horizontal',
           form:{},
     
 //data,
      columns,
      selectedRowKeys: [], // Check here to configure the default column
      loading: false,
     // form : {}
    };
  },
  computed: {
    hasSelected() {
      return this.selectedRowKeys.length > 0;
    },

    ...mapGetters('discovery',{

      'lengthselected': 'lengthSelected',
      'showstagedcreatedsuccess': 'showstagedcreatedsuccess'
    }),

    ...mapMutations('discovery', {
      'setSelectedName': 'setSelectedName',
      'setSelectedRule': 'setSelectedRule'
    })
  },
  methods: {
          ...mapActions('discovery',['getData', 'SaveSelected']),
      ///buttonClicked: (input) => { runFunction(input) }
    handleSelectChange(){},
    handleSubmit(){},
    start() {
      this.loading = true;
      // ajax request after empty completing
      setTimeout(() => {
        this.loading = false;
        this.selectedRowKeys = [];
      }, 1000);
    },
    //     getImgUrl(i) {
    //   return `${baseUrl}abstract0${i + 1}.jpg`;
    // },
        onChange(a, b, c) {
      console.log(a, b, c);
    },
    onSelectChange(selectedRowKeys) {
      console.log('selectedRowKeys changed: ', selectedRowKeys);
      this.selectedRowKeys = selectedRowKeys;
    },
    handlerefresh() {
      discoverytable.methods.refresh()
     // this.$refs.alldealsrefresh.refresh()
    },

    handlecreate(){
         this.$router.push({name:'producerEndpoint'})

     // this.$router.push({name:'producerEndpoint'})
    },

    handleSaveSelected(){
     // this.$store.state.discovery.selectdName = this.form.name
      //this.$store.state.discovery.selectedRule = this.form.byrule
    // this.setSelectedName(this.form.name)
    // this.setSelectedRule(this.form.byrule)
    if (this.lengthselected < 1) {
      this.$message.error("Select first")
      return
    }
      
      // this.form.validateFields((err) => {
      //   if (!err) {
          
          // const name = this.form.getFieldValue('name')
          // const byrule = this.form.getFieldValue('byrule')

          // console.log(name)
      this.$store.commit('discovery/setSelectedName', this.form.name)
      this.$store.commit('discovery/setSelectedRule', this.form.byrule)
      this.$store.dispatch('discovery/SaveSelected',)
            
     //  } })
  
      
    console.log(this.form)

      
    
  },
  }

};

</script>

<style scoped>
/* For demo */
.ant-carousel :deep(.slick-dots) {
  position: relative;
  height: auto;
}
.ant-carousel :deep(.slick-slide img) {
  border: 5px solid #fff;
  display: block;
  margin: auto;
  max-width: 80%;
}
.ant-carousel :deep(.slick-arrow) {
  display: none !important;
}
.ant-carousel :deep(.slick-thumb) {
  bottom: 0px;
}
.ant-carousel :deep(.slick-thumb li) {
  width: 60px;
  height: 45px;
}
.ant-carousel :deep(.slick-thumb li img) {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}
.ant-carousel :deep .slick-thumb li.slick-active img {
  filter: grayscale(0%);
}

.space {
  margin: 20px;
}
</style>