<template>
<div>

  <a-row>
    <a-col>
      <h1>Timeline to 0.5.0</h1>
    </a-col>
  </a-row>
  <a-row>
    <a-col>
      <a-timeline>
    <a-timeline-item color="green">
      Create a services site 2015-09-01
    </a-timeline-item>
    <a-timeline-item color="green">
      Create a services site 2015-09-01
    </a-timeline-item>
    <a-timeline-item color="red">
      <p>Solve initial network problems 1</p>
      <p>Solve initial network problems 2</p>
      <p>Solve initial network problems 3 2015-09-01</p>
    </a-timeline-item>
    <a-timeline-item>
      <p>Technical testing 1</p>
      <p>Technical testing 2</p>
      <p>Technical testing 3 2015-09-01</p>
    </a-timeline-item>
    <a-timeline-item color="gray">
      <p>Technical testing 1</p>
      <p>Technical testing 2</p>
      <p>Technical testing 3 2015-09-01</p>
    </a-timeline-item>
    <a-timeline-item color="gray">
      <p>Technical testing 1</p>
      <p>Technical testing 2</p>
      <p>Technical testing 3 2015-09-01</p>
    </a-timeline-item>
  </a-timeline>
    </a-col>
  </a-row>
  <a-row>
    <a-col>
      <h1>Timeline to 1.0.0</h1>
    </a-col>
  </a-row>
  <a-row>
    <a-col>
      <a-timeline>
    <a-timeline-item color="green">
      Create a services site 2015-09-01
    </a-timeline-item>
    <a-timeline-item color="green">
      Create a services site 2015-09-01
    </a-timeline-item>
    <a-timeline-item color="red">
      <p>Solve initial network problems 1</p>
      <p>Solve initial network problems 2</p>
      <p>Solve initial network problems 3 2015-09-01</p>
    </a-timeline-item>
    <a-timeline-item>
      <p>Technical testing 1</p>
      <p>Technical testing 2</p>
      <p>Technical testing 3 2015-09-01</p>
    </a-timeline-item>
    <a-timeline-item color="gray">
      <p>Technical testing 1</p>
      <p>Technical testing 2</p>
      <p>Technical testing 3 2015-09-01</p>
    </a-timeline-item>
    <a-timeline-item color="gray">
      <p>Technical testing 1</p>
      <p>Technical testing 2</p>
      <p>Technical testing 3 2015-09-01</p>
    </a-timeline-item>
  </a-timeline>
    </a-col>
  </a-row>
</div>
  
</template>
<script>
//import ChartCard from '../../../components/card/ChartCard'
//import MiniArea from '../../../components/chart/MiniArea'
//import MiniBar from '../../../components/chart/MiniBar'
//import MiniProgress from '../../../components/chart/MiniProgress'
//import Bar from '../../../components/chart/Bar'
//import RankingList from '../../../components/chart/RankingList'
//import HotSearch from './HotSearch'
// /import SalesData from './SalesData'
//import Trend from '../../../components/chart/Trend'

const rankList = []

for (let i = 0; i < 8; i++) {
  rankList.push({
    name: '桃源村' + i + '号店',
    total: 1234.56 - i * 100
  })
}

export default {
  name: 'Analysis',
  i18n: require('./i18n'),
  data () {
    return {
      rankList,
      loading: true
    }
  },
  created() {
    setTimeout(() => this.loading = !this.loading, 1000)
  },
  components: { }
}
</script>

<style lang="less" scoped>
  .extra-wrap{
    .extra-item{
      display: inline-block;
      margin-right: 24px;
      a:not(:first-child){
        margin-left: 24px;
      }
    }
  }
  @media screen and (max-width: 992px){
    .extra-wrap .extra-item{
      display: none;
    }
  }
  @media screen and (max-width: 576px){
    .extra-wrap{
      display: none;
    }
  }

</style>
