/* eslint-disable no-unused-vars */
/* eslint-disable no-unused-vars */
<template >
    <div>
         <div class="space"></div>
        <a-row>
  <a-col :xs="{ span: 5, offset: 1 }" :lg="{ span: 8, offset: 1 }">

  <a-button type="primary" @click="handleroom(1)">Room 1</a-button>
       </a-col>
<a-col :xs="{ span: 5, offset: 1 }" :lg="{ span: 4, offset: 1 }">
            <a-button type="primary" @click="handleroom(2)">Room 2</a-button>
                 </a-col>
            <a-col :xs="{ span: 5, offset: 1 }" :lg="{ span: 4, offset: 1 }">
  <a-button @click="handleroom(1)"> Room 3</a-button>
        </a-col>

        </a-row>
         <div class="space"></div>
         <a-row> 
             <a-col> 
    <!-- <a-list :pagination="pagination" :grid="{ gutter: 16, xs: 1, sm: 2, md: 4, lg: 4, xl: 6, xxl: 3 }" :data-source="data">
    <a-list-item slot="renderItem" slot-scope="item">
      <a-card :title="item.extended.carname">
        Card content
      </a-card>
    </a-list-item>
  </a-list> -->

<a-row>
  <a-col :xs="{span: 15, offset:3}" :lg="{span: 15, offset:3}">
    <div v-for="item in cdata" :key="item.id">
   
      <a-card :title="item.id">
      Vin:  {{item.extended.carvin}}
      <br/>
      Make: {{item.extended.carmake}}
      <br/>
    
<br/>
      <a-card-grid style="width:25%;text-align:center">
      Content
    </a-card-grid>
    <a-card-grid style="width:25%;text-align:center" :hoverable="false">
      Content
    </a-card-grid>
    <a-card-grid style="width:25%;text-align:center">
      Content
    </a-card-grid>
    <a-card-grid style="width:25%;text-align:center">
      Content
    </a-card-grid>
    <br/>
    <br/>
       <a-card-grid style="width:50%;text-align:center">
      <a-button type="primary">View Detail</a-button>
    </a-card-grid>
      </a-card>
    

<br/>
    </div>
    
    </a-col>
    </a-row>
             </a-col>
         </a-row>
        </div>
</template>


<script>
import { mapGetters, mapActions } from 'vuex';
//import (mapGetters)
// eslint-disable-next-line no-unused-vars
const data = [
  {
    title: 'Title 1',
  },
  {
    title: 'Title 2',
  },
  {
    title: 'Title 3',
  },
  {
    title: 'Title 4',
  },
  {
    title: 'Title 5',
  },
  {
    title: 'Title 6',
  },
];
export default {
    setup() {
        
    },
    mounted(){
      this.refresh()
      console.log("in mounted")
      console.log(this.cdata)
    },
    created(){
      this.refresh()
      console.log("in created")
      console.log(this.cdata)
    },
    computed: {
      ...mapGetters('discovery',{
        'cdata': 'allroommanager'
      })
    },

    data() {
    return {
           data : this.cdata,
    }
    },

    methods :{
     ...mapActions('discovery',{ 
       refresh: 'GetRoomDetail'}),

       handleroom(id) {
         if(id==1){
           this.$store.commit('discovery/setRoomFocusKey', "ROOM1")
         }
                  if(id==2){
           this.$store.commit('discovery/setRoomFocusKey', "ROOM2")
         }
                           if(id==3){
           this.$store.commit('discovery/setRoomFocusKey', "ROOM3")
         }

         this.$store.dispatch('discovery/GetRoomDetail')
       }
    },
}
</script>

<style scoped>

.space {
    margin: 30px
}
</style>