<template>
    <page-layout>
        <div slot="headerContent">
            <!-- <div class="title">{{welcome.timeFix}}, {{currUser.name}}, {{welcome.message}}</div>
            <div>{{currUser.position}}</div> -->
        </div>
        <template slot="extra">
            <!-- <head-info class="split-right" title=" 'project' " content="56" />
            <head-info class="split-right" title=" 'ranking' " content="8/24" />
            <head-info class="split-right" title=" 'visit' " content="2,233" />
        -->
        </template>
        <template>
            <a-row style="">
            <div>
            <a-row>

                <a-col style="padding: 0 12px" >
                    <a-card class="">
                        This Section
                    </a-card>
                </a-col>
            </a-row>
            <a-divider/>
            
            <a-row> 
                    <a-col style="padding: 0 12px" :xl="8" :lg="24" :md="24" :sm="24" :xs="24">
                        <a-card>Details</a-card>
                    </a-col>
                    <a-col style="padding: 0 12px" :xl="8" :lg="24" :md="24" :sm="24" :xs="24">
                        <a-card>Edit</a-card>
                    </a-col>
                    <a-col style="padding: 0 12px" :xl="8" :lg="24" :md="24" :sm="24" :xs="24">
                        <a-card>All</a-card>
                    </a-col>
                </a-row>
                <a-divider/>
                </div>

    
            </a-row>


                            

        </template>              
    </page-layout>
</template>


<script>
import PageLayout from '@/layouts/PageLayout'
//import HeadInfo from '@/components/tool/HeadInfo'
//import Radar from '@/components/chart/Radar'
import {mapState} from 'vuex'
//import {request, METHOD} from '@/utils/request'
//import PageLayout from '../../layouts/PageLayout.vue'
//import HeadInfo from '../../components/tool/HeadInfo.vue'
//import { mapState } from 'vuex'
export default {
    name:"userCreate",

  components: { PageLayout,  },
    setup() {
        
    },

    computed: {
        ...mapState('account', {currUser: 'user'}),
        ...mapState('setting', ['lang'])
    }
}
</script>