<template>
    <a-card>
    
    <div>
    <a-table :columns="columns" :data-source="data" bordered>
    <template slot="name" slot-scope="text">
      <a>{{ text }}</a>
    </template>
    <template slot="title">
      Header
    </template>
    <template slot="footer" >
      Footer
    </template>
  </a-table>
    </div>
    </a-card>
</template>

<script>
export default {
    name: "GroupAll",
    props:['data', 'columns'],

    methods: {
        deleteRecord(key) {
            console.log(key)
        },
    }
}
</script>