<template>
     <a-card :bordered="false">
        <!-- <a-detail-list :title="groupDetail.name">
          <a-detail-list-item term="some">Here</a-detail-list-item>
          <a-detail-list-item term="two">here</a-detail-list-item>
          <a-detail-list-item term="xs">1234567890</a-detail-list-item>
        </a-detail-list> -->
        <a-divider style="margin-bottom: 32px"/>
          </a-card>
</template>


<script>
export default {
    name: "groupDetail",
    props: ['groupDetail']

}
</script>