<template>
  <common-layout>
    <div class="top"  >
      <div class="header">
        <!-- <img alt="logo" class="logo" src="@/assets/img/logo.png" /> -->
        <span class="title">{{systemName}}</span>
      </div>
      <div class="desc"></div>
    </div>
    <div class="login" v-if="display_form">
      <a-row><a-col>
      <a-form @submit="onSubmit" :form="form">
        <a-tabs size="large" :tabBarStyle="{textAlign: 'center'}" style="padding: 0 2px;">
          <a-tab-pane tab="Sign Up" key="1">
            <a-alert type="error" :closable="true" v-show="error" :message="error" showIcon style="margin-bottom: 24px;" />
            <a-form-item>
              <a-input
                autocomplete="autocomplete"
                size="large"
                placeholder="name"
                v-decorator="['name', {rules: [{ required: true, message: 'This field is Required', whitespace: true}]}]"
              >
                <a-icon slot="prefix" type="user" />
              </a-input>
            </a-form-item>
             <a-form-item>
              <a-input
                autocomplete="autocomplete"
                size="large"
                placeholder="email"
                v-decorator="['email', {rules: [{ required: true, message: 'This field is Required', whitespace: true}]}]"
              >
                <a-icon slot="prefix" type="user" />
              </a-input>

            </a-form-item>
                    <template v-if="showerror">
           <a-alert message="Email is taken" type="error" />
       </template>
            <a-form-item>
              <a-input
                size="large"
                placeholder="password"
                autocomplete="autocomplete"
                type="password"
                v-decorator="['password', {rules: [{ required: true, message: 'Password required', whitespace: true}]}]"
              >
                <a-icon slot="prefix" type="lock" />
              </a-input>
            </a-form-item>
                        <a-form-item>
              <a-input
                size="large"
                placeholder="confirm password"
                autocomplete="autocomplete"
                type="password"
                v-decorator="['passwordConfirm', {rules: [{ required: true, message: 'Password required', whitespace: true}]}]"
              >
                <a-icon slot="prefix" type="lock" />
              </a-input>
            </a-form-item>

    <a-form-item>
      <a-select
        v-decorator="[
          'sellerBuyer',
          { rules: [{ required: true, message: 'Select Account Type' }] },
        ]"
        placeholder="Select a option "
      
      >
        <a-select-option :value="buyerid">
          Buyer Account
        </a-select-option>
        <a-select-option :value="sellerid">
          Seller Account
        </a-select-option>
                <a-select-option :value="moderatormanagerid">
          Moderator Manager Account
        </a-select-option>
          <a-select-option :value="moderatorworkerid">
          Moderator Worker Account
        </a-select-option>
      </a-select>
    </a-form-item>

          </a-tab-pane>
         
        </a-tabs>

        <a-form-item>
          <a-button :loading="logging" style="width: 100%;margin-top: 24px" size="large" htmlType="submit" type="primary">Submit</a-button>
        </a-form-item>

                <a-form-item>
        </a-form-item>

      </a-form>

      </a-col>
                <a-button style="" size="large" type="primary" @click="handlebacktologin">Back to Login</a-button>

      </a-row>

      
    </div>
    <div v-if="display_confirm">
      <a-row>
        <a-col :xs="{ span: 19, offset: 2 }" :lg="{ span: 19, offset: 8 }">
             <a-card title="Signup Message " style="width: 300px">
  
      <p>Sign Up Successful</p>
      <p>Login to continue</p>

      

                <router-link style="float: right" to="login" >Login</router-link>

      
    </a-card>
        </a-col>
      </a-row>
    </div>
      <a-row>
        <a-col :xs="{ span: 19, offset: 2 }" :lg="{ span: 19, offset: 8 }">

     
        </a-col>
      </a-row>
    
  </common-layout>
</template>

<script>
import CommonLayout from '@/layouts/CommonLayout'
import {MODERATORMANAGERID, MODERATORWORKERID, BUYERID, SELLERID} from '@/services/api'
import {signup, signupLocal} from '@/services/user'
//import {setAuthorization} from '@/utils/request'
//import {loadRoutes} from '@/utils/routerUtil'
import {mapMutations} from 'vuex'

export default {
  name: 'SignUp',
  components: {CommonLayout},
  data () {
    return {
      logging: false,
      showerror: false,
      error: '',
      form: this.$form.createForm(this),
      display_form: true,
      display_confirm: false,
      display_error : false,
      errormessage :"",
      moderatormanagerid : MODERATORMANAGERID,
      moderatorworkerid : MODERATORWORKERID,
      buyerid : BUYERID,
      sellerid : SELLERID


    }
  },
  computed: {
    systemName () {
      return this.$store.state.setting.systemName
    }
  },
  methods: {
    ...mapMutations('account', ['setUser', 'setPermissions', 'setRoles']),
    handleSelectChange(){},
    onSubmit (e) {
      e.preventDefault()
      this.form.validateFields((err) => {
         
        if (!err) {
           //console.log('Received values of form: ', values);
          this.logging = true
          console.log("calling signup")
          const email = this.form.getFieldValue("email")
          console.log(email)
          let password = this.form.getFieldValue("password")
         //console.log(password)
         let password_confirm = this.form.getFieldValue("passwordConfirm")
        
        console.log(password_confirm)
        let name =this.form.getFieldValue("name")
          console.log(name)
          console.log(email,password, password_confirm, name)
          let rest = signup(email,password,password_confirm, name)
         rest.then(this.localsignup)
          rest.catch(function(error){

        //  login(email, password).then(this.afterLogin).catch(function(error){
           // this.logging = false
            console.log("error loging signup")
  console.log('There has been a problem with your fetch operation: ' + error.message)            
          })
      this.doshowerror()
  
        }

                      this.logging = false


        

        //console.log(err)
      })

    },

localsignup(res) {
           this.logging = false
      console.log("doing local signup")
      console.log(res)

      const token = res.data.token
      const username = this.form.getFieldValue("name")
      const groupid = this.form.getFieldValue("sellerBuyer")
      signupLocal(token,username,groupid).then(this.aftersignup).catch(function(error){
            console.log(error)
            this.logging = false
            this.errormessage = error
            this.display_error = true
          })
},

aftersignup(res) {
  console.log("calling after sign up")
  this.logging = false
  console.log(res)
  this.display_form = false
  this.display_confirm = true
},
handlebacktologin(){

  this.$router.push("login")
},
    doshowerror(){
            setTimeout(() => {
        this.logging = false;
        this.showerror = true;
     
      }, 2000)
    }


  }
}
</script>

<style lang="less" scoped>
  .common-layout{
    .top {
      text-align: center;
      .header {
        height: 44px;
        line-height: 44px;
        a {
          text-decoration: none;
        }
        .logo {
          height: 44px;
          vertical-align: top;
          margin-right: 16px;
        }
        .title {
          font-size: 33px;
          color: @title-color;
          font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
          font-weight: 600;
          position: relative;
          top: 2px;
        }
      }
      .desc {
        font-size: 14px;
        color: @text-color-second;
        margin-top: 12px;
        margin-bottom: 40px;
      }
    }
    .login{
      width: 368px;
      margin: 0 auto;
      @media screen and (max-width: 576px) {
        width: 95%;
      }
      @media screen and (max-width: 320px) {
        .captcha-button{
          font-size: 14px;
        }
      }
      .icon {
        font-size: 24px;
        color: @text-color-second;
        margin-left: 16px;
        vertical-align: middle;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
          color: @primary-color;
        }
      }
    }
  }
</style>
