<template>
    <a-row >
        <div refs="alldealsrefresh" ></div>
        <a-col  >
           <a-table
      :columns="columns"
      :data-source="allstaged"
      rowKey="id"
      size="small"

    >
    <span slot="action" slot-scope="text,record">
      <a-button @click="showViewModal(record.id)" >View</a-button>
      <a-divider type="vertical" />
      <a-button @click="showModal(record.id)">Delete</a-button>
      <a-divider type="vertical" />
      <!-- <a class="ant-dropdown-link"> Mor actions <a-icon type="down" /> </a> -->
    </span>

    </a-table>
        </a-col>


        <div>
           <div>

    <a-modal
      title="Confirm Deletions"
      :visible="visible"
      :confirm-loading="confirmLoading"
      @ok="handleOk"
      @cancel="handleCancel"
    >
      <p>Confirm deletion of </p>
    </a-modal>
  </div>
        </div>

        <div>
           <div>

    <a-modal v-model="visibleview" title="Title" on-ok="handleViewOk">
      <template slot="footer" :xs="{ span: 20, offset: 2 }" :lg="{ span: 20, offset: 2 }">
        <a-button key="back" @click="handleViewCancel">
          Return
        </a-button>
        <a-button key="submit" type="primary" :loading="viewloading" @click="handleViewOk">
          Edit
        </a-button>
      </template>
      <a-row>
        <a-col  :xs="{ span: 20, offset: 2 }" :lg="{ span: 20, offset: 2 }">
    <div>

  </div>
        </a-col>
  
  
      </a-row>
       <br/>
        <br/>
<div>

</div>
 <br/>
  <br/>
<div>

</div>

</a-modal>
  </div>
        </div>
        <div>
          <a-card></a-card>
        </div>
      </a-row>
      
</template>

<script>

import {mapGetters, mapActions, mapMutations} from 'vuex'

import {GetAllDeals} from '../../services/discovery'

//import IMG_BASE from '../../services/api'
const baseUrl = `https://files.dealstagingapplication.ga/files/img?path=`


const globalshow = {
  showtab1 : true,
  showtab2 : false
}
const columns = [
  {
    title: 'Name',
    dataIndex: 'name',
  },
//   {
//     title: 'TotalCount',
//     dataIndex: 'keys',
//   },
    {
    title: 'ViewDetail',
    key: 'ViewDetail',
   // fixed: 'right',
   // width: 100,
    scopedSlots: { customRender: 'action' },
  },
];

const datalist = [
  {
    title: 'Not Implemented Yet',
  },
  {
    title: 'Not Implemented yet',
  },
  {
    title: 'Not Implemented yet',
  },
];

const defaultvisiblemodel = {
     basic: {
                "used": false,
                "useby": ""
            },
          
   extended : {
     carname:"",
 //    carmake:"",
     //"carname": "",
                "carsellerprice": "",
                "carprofitprice": "",
                "carsoldprice": "",
                "caryear": "",
                "carmake": "",
                "carmodel": "",
                "carvin": ""
   },
            files: {
                "imgs": [
                    "",
                    "wSsrrrwKZj49tx8vbJDNh4.png"
                ],
                "pdfs": [
                    ""
                ]
            }

}


export default {
    name: "allstagedtable",
    computed:{

    ...mapGetters( 'discovery',{
  // map `this.doneCount` to `this.$store.getters.doneTodosCount`
  alldeals: 'alldeals',

  allstaged: 'allstaged',

  onedetailstaged: 'onedetailstaged',

  getLocal : 'getLocal'

  
}),

...mapMutations('discovery', {
  addkey: 'addkeytoSelected'
})
        
    },
    setup() {
        
    },
    mounted(){
       this.refresh()
    },
    methods:{
      ...mapActions('discovery',{
        refresh: 'getAllStaged'
      }),

       showViewModal(key) {
      this.visibleview = true;

      var obj = this.getLocal(key)

      this.visiblemodel = obj
    this.$store.commit('discovery/setCreated', this.visiblemodel)

      console.log(key)

    },
        // eslint-disable-next-line no-unused-vars
     // eslint-disable-next-line no-unused-vars
    handleViewOk(e) {
      this.viewloading = true;



  

      setTimeout(() => {
        this.visibleview = false;
        this.loading = false;
        this.$router.push({name:'editUpdate'})
      }, 1000);
    },
   
     // eslint-disable-next-line no-unused-vars
    handleViewCancel(e) {
      this.visibleview = false;
    },
       showModal(id) {

         console.log(id )
      
      var obj = this.getLocal(id)
      console.log(obj)
      this.deletemodel = obj
      this.visible = true;
    },
    // eslint-disable-next-line no-unused-vars
    handleOk(e) {
     // e.PreventDefault()
      this.ModalText = 'The modal will be closed after two seconds';
      this.confirmLoading = true;
      setTimeout(() => {
        this.visible = false;
        this.confirmLoading = false;
      }, 2000);
    },
    // eslint-disable-next-line no-unused-vars
    handleCancel(e) {
       //     e.PreventDefault()

      console.log('Clicked cancel button');
      this.visible = false;
    },
        getdata() {
            console.log("calling getdata")
           let res = GetAllDeals()
           
            res.then(function(res){

                console.log(res)

            }).catch(function(err){
                console.log(err)
            })
        },

        // refresh(){

        //     console.log("doing refresh")
        //     this.getdata()
        // },
            onSelectChange(selectedRowKeys) {
      console.log('selectedRowKeys changed: ', selectedRowKeys);
      this.selectedRowKeys = selectedRowKeys;

      this.$store.commit('discovery/addkeytoSelected', this.selectedRowKeys)
    },
    getImgUrl(i) {
      
      return `${baseUrl}${this.visiblemodel.files.imgs[i]}`;
    },

    onTabChange(key, type) {
      console.log(key, type);
      this[type] = key;

      if (key == "tab1"){
        this.globalshow.showtab1 = true
        this.globalshow.showtab2 = false
      }else{
        this.globalshow.showtab1= false
        this.globalshow.showtab2 = true
      }
    },
  },
      data() {
    return {
      tabList: [
        {
          key: 'tab1',
           tab: 'Basic Info',
          //scopedSlots: { tab: 'customRender' },
        },
        {
          key: 'tab2',
          tab: 'Extended Info',
        },
      ],

         contentList: {
        tab1: 'content1',
        tab2: 'content2',
      },
      datalist:datalist,
      globalshow: globalshow,
      baseUrl,
          viewloading: false,
      visibleview: false,
      visiblemodel: defaultvisiblemodel,
      deletemodel: {},
            ModalText: 'Content of the modal',
      visible: false,
      confirmLoading: false,
            formLayout: 'horizontal',
      form: this.$form.createForm(this, { name: 'coordinated' }),
     
 //data,
      columns,
      selectedRowKeys: [], // Check here to configure the default column
      loading: false,
     // form : {}
    };
  },
}
</script>
<style scoped>
/* For demo */
.ant-carousel >>> .slick-dots {
  height: auto;
}
.ant-carousel >>> .slick-slide img {
  border: 5px solid #fff;
  display: block;
  margin: auto;
  max-width: 80%;
}
.ant-carousel >>> .slick-thumb {
  bottom: -45px;
}
.ant-carousel >>> .slick-thumb li {
  width: 60px;
  height: 45px;
}
.ant-carousel >>> .slick-thumb li img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}
.ant-carousel >>> .slick-thumb li.slick-active img {
  filter: grayscale(0%);
}
</style>