<template>
    <div>
        <a-row v-if="globalshow.showform">
            <a-col :xs="{ span: 23, offset: 1 }" :lg="{ span: 18, offset: 1 }">
                 <a-form-model :model="form" :label-col="labelCol" :wrapper-col="wrapperCol">
    <a-form-model-item label="Car name">
      <a-input v-model="form.carname" />
    </a-form-model-item>
        <a-form-model-item label="Car Vin">
      <a-input v-model="form.carvin" />
    </a-form-model-item>
        <a-form-model-item label="Car Model">
      <a-input v-model="form.carmodel" />
    </a-form-model-item>
        <a-form-model-item label="Car Year">
      <a-input v-model="form.caryear" />
    </a-form-model-item>
        <a-form-model-item label="Car Seller Price">
      <a-input v-model="form.carseller" />
    </a-form-model-item>
        <a-form-model-item label="Car Profit Price">
      <a-input v-model="form.carprofitprice" />
    </a-form-model-item>

    <!-- <a-form-model-item label="Car vin">
      <a-select v-model="form.region" placeholder="please select your zone">
        <a-select-option value="shanghai">
          Zone one
        </a-select-option>
        <a-select-option value="beijing">
          Zone two
        </a-select-option>
      </a-select>
    </a-form-model-item> -->
    <!-- <a-form-model-item label="Activity time">
      <a-date-picker
        v-model="form.date1"
        show-time
        type="date"
        placeholder="Pick a date"
        style="width: 100%;"
      />
    </a-form-model-item> -->
    <!-- <a-form-model-item label="Instant delivery">
      <a-switch v-model="form.delivery" />
    </a-form-model-item> -->
    <!-- <a-form-model-item label="Activity type">
      <a-checkbox-group v-model="form.type">
        <a-checkbox value="1" name="type">
          Online
        </a-checkbox>
        <a-checkbox value="2" name="type">
          Promotion
        </a-checkbox>
        <a-checkbox value="3" name="type">
          Offline
        </a-checkbox>
      </a-checkbox-group>
    </a-form-model-item> -->
    <!-- <a-form-model-item label="Resources">
      <a-radio-group v-model="form.resource">
        <a-radio value="1">
          Sponsor
        </a-radio>
        <a-radio value="2">
          Venue
        </a-radio>
      </a-radio-group>
    </a-form-model-item> -->
    <!-- <a-form-model-item label="Activity form">
      <a-input v-model="form.desc" type="textarea" />
    </a-form-model-item> -->
    <a-form-model-item :wrapper-col="{ span: 14, offset: 4 }">
      <a-button type="primary" @click="onSubmit">
        Create
      </a-button>
      <a-button style="margin-left: 10px;">
        Cancel
      </a-button>
    </a-form-model-item>
  </a-form-model>
            </a-col>

            <a-col  :xs="{ span: 4, offset: 1 }" :lg="{ span: 4, offset: 1 }">
            </a-col > 
        </a-row>

         <a-row v-if="globalshow.showsuccess">
          <a-col>
              <a-result
    status="success"
    title="Deal Has been Created Successfully"
    :sub-title="successsub"
  >
    <template #extra>
      <a-button key="console" type="primary" @click="successeditclicked">
        Edit
      </a-button>
      <a-button key="addpictures" @click="successaddimgclicked">
        Add Pictures
      </a-button>
            <a-button key="addtitle" @click="successaddpdfclicked">
        Add Titles
      </a-button>
    </template>

  </a-result>
  
          </a-col>

          <a-col>
            <a-button @click="newclicked">New</a-button>
          </a-col>
        </a-row>
    
    </div>
</template>

<script>

const globalshow = {
  showform : true,
  showsuccess: false
}
//import Router from 'vue-router'

import {CreateOneDeal} from "../../services/discovery"

//import { history } from 'umi';

export default {
  name:"createonedeal",
  created() {
    this.globalshow.showform = true
    this.globalshow.showsuccess = false
  },
    setup() {
        
    },
        data() {
    return {
      labelCol: { span: 4 },
      created: {},
      globalshow:globalshow,
      wrapperCol: { span: 14 },
      successsub:"",
      form: {
        name: '',
      },
    };
  },
  methods: {
    onSubmit() {
      console.log('submit!', this.form);

 CreateOneDeal(this.form).then(this.handlepass)


    },

    successeditclicked(){
     // this.$router.push({ path: `/dashboard/edit/${this.created.id}` })
     // this.$router.push({ name: 'editdeal', params: { id:this.created.id  } })
    //let url = '

    //Router.push(url)
   // history.push(url)
   this.$router.push({name:'editUpdate'})
   },

    successaddimgclicked() {},

    successaddpdfclicked(){},

  newclicked() {
          this.globalshow.showform = true
      this.globalshow.showsuccess = false
     // console.log (res)

      this.created = {}
      this.form = {}
      this.successsub = " Add edit  "
  },
    handlepass(res){
      this.globalshow.showform = false
      this.globalshow.showsuccess = true
      console.log (res)

      this.created = res.data.Data
      this.successsub = " Add edit  "+ this.created.id

      this.$store.commit('discovery/setCreated', res.data.Data)

    }
  },


}
</script>

<style  scoped>

</style>