<template>
<page-layout>
    <div>
        <a-row>
            <a-col>
                  <div v-show="globalshow.successupdate">
      <p>Update Was Successfull</p>
    </div>
            </a-col>
        </a-row>
    </div>
    <div>

 <div v-if="!globalshow.show_detail">
        <a-row>
            <a-col>
                  <a-empty>
    <span slot="description">  No Deal Selected Yet <a href="#/Discovery/allDeals">BackHome</a> </span>
    <!-- <a-button type="primary" key="c">
      View All
    </a-button> -->
  </a-empty>
            </a-col>
        </a-row>
</div>
    </div>
    <div v-if="globalshow.show_detail">
        <a-row>
            <a-col :xs="{ span: 23, offset: 1 }" :lg="{ span: 18, offset: 1 }">
                 <a-form-model :model="form" :label-col="labelCol" :wrapper-col="wrapperCol">
    <a-form-model-item label="Car name">
      <a-input v-model="form.carname" />
    </a-form-model-item>
        <a-form-model-item label="Car Vin">
      <a-input v-model="form.carvin" />
    </a-form-model-item>
        <a-form-model-item label="Car Model">
      <a-input v-model="form.carmodel" />
    </a-form-model-item>
        <a-form-model-item label="Car Year">
      <a-input v-model="form.caryear" />
    </a-form-model-item>
        <a-form-model-item label="Car Seller Price">
      <a-input v-model="form.carseller" />
    </a-form-model-item>
        <a-form-model-item label="Car Profit Price">
      <a-input v-model="form.carprofitprice" />
    </a-form-model-item>
    <a-form-model-item :wrapper-col="{ span: 14, offset: 4 }">
      <a-button type="primary" @click="onSubmit">
        Save
      </a-button>
      <a-button style="margin-left: 10px;" @click="handlecanceledit">
        Done
      </a-button>
    </a-form-model-item>
  </a-form-model>
            </a-col>

            <a-col  :xs="{ span: 4, offset: 1 }" :lg="{ span: 4, offset: 1 }">
            </a-col > 
        </a-row>
    </div>


    <div v-if="globalshow.show_detail">
      <a-row>
        <a-col :xs="{ span: 10, offset: 2 }" :lg="{ span: 10, offset: 2 }">
          <h3>Images</h3>
        </a-col>
      </a-row>
        <a-row>
            <a-col :xs="{ span: 20, offset: 2 }" :lg="{ span: 20, offset: 2 }">
                <a-upload
    name="file"
    list-type="picture-card"
      :file-list="fileList"
      @preview="handlePreview"
    class="avatar-uploader"
    :show-upload-list="true"
    :multiple="true"
    action="https://dealstagingapplication.ga/api/discover/discover/upload-one-img"
    method="post"
    :before-upload="beforeUpload"
    :data="filedata"
    @change="handleChange"
    
  >
    <div v-if="fileList.length < 200">
        <a-icon type="plus" />
        <div class="ant-upload-text">
          Upload
        </div>
    </div>
    <a-modal :visible="previewVisible" :footer="null" @cancel="handleCancel">
      <img alt="example" style="width: 100%" :src="previewImage" />
    </a-modal>
  </a-upload>
            </a-col>
        </a-row>
    </div>

    </page-layout>
</template>

<script>
import PageLayout from '../../layouts/PageLayout.vue';

import {UPLOADONEIMG, IMG_BASE} from '../../services/api'

import {GetOneDeal, UpdateOneDeal} from '../../services/discovery'

import {mapGetters} from 'vuex'

function getBase64(file) {
  return new Promise((resolve, reject) => {
    const reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = () => resolve(reader.result);
    reader.onerror = error => reject(error);
  });
}


const globalshow = {
    show_none_selected: false,
    show_detail: false,
    show_form: false,
    successfulupdate: false,
}

export default {
  components: { PageLayout },
  name:"editonedeal",
  

  
    setup() {
        
    },
        data() {
    return {
       previewVisible: false,
      previewImage: '',
      fileList: [
     
         {
          uid: '-5',
          name: 'image.png',
          status: 'error',
        },
      ],
        globalshow:globalshow,
        uploadurl: UPLOADONEIMG,
  //      postdata: ,
      //  localcreated: {},
         loading: false,
        imageUrl: '',
      //  postid : "",
      labelCol: { span: 4 },
      wrapperCol: { span: 14 },
      id:"",
      form: {},
    };
  },
  methods: {
    onSubmit() {
      console.log('submit!', this.form);
      var res = UpdateOneDeal(this.form)

      res.then((res)=>{
        console.log(res.data)
        this.globalshow.successfulupdate = true
      })


      
    },
    reload() {
      this.render = false;
      this.$nextTick(() => {
        this.checkShow()
      });
    },

    getDeal() {
        let res = GetOneDeal(this.postid)

        res.then((res)=> {
            console.log(res)
        })

    },

      handleCancel() {
      this.previewVisible = false;

      // location.reload()
    },

    imgstofilest( imglist) {
      var out = []

      var baseurl = IMG_BASE

      for (let i=0; i< imglist.length; i++) {
      var  outin = {}
        outin.uid = imglist[i] +i
        
        outin.url = baseurl+imglist[i]
        outin.status = 'done'
        outin.name = imglist[i]

        out.push( outin)

      }

      return out
    },

        handleChange({ fileList }) {
      this.fileList = fileList;
    },
    handlecanceledit() {
      var data = {}
       this.$store.commit('discovery/setCreated', data)
      
       this.globalshow.show_detail = false
    },

        async handlePreview(file) {
      if (!file.url && !file.preview) {
        file.preview = await getBase64(file.originFileObj);
      }
      this.previewImage = file.url || file.preview;
      this.previewVisible = true;
    },
  
  //  handleChange(info) {
  //     if (info.file.status === 'uploading') {
  //       this.loading = true;
  //       return;
  //     }
  //     if (info.file.status === 'done') {
  //       // Get this url from response in real world.
  //       getBase64(info.file.originFileObj, imageUrl => {
  //         this.imageUrl = imageUrl;
  //         this.loading = false;
  //       });
  //     }
  //   },
    beforeUpload(file) {
      const isJpgOrPng = file.type === 'image/jpeg' || file.type === 'image/png';
      if (!isJpgOrPng) {
        this.$message.error('You can only upload JPG file!');
      }
      const isLt2M = file.size / 1024 / 1024 < 20;
      if (!isLt2M) {
        this.$message.error('Image must smaller than 2MB!');
      }
      return isJpgOrPng && isLt2M;
    },

    filedata() {
    //  let res = this.$store.state.discovery.created
    //  var data = new FormData();
    // data.append("id", this.localcreated.id)
    // data.append("file", file)

    console.log("called filedata  ", this.localcreated.id)
     return {"id": this.localcreated.id}
    },

    checkShow() {
        
      //  let res = this.$store.getters.discovery.selected
        console.log(this.canshow)
        if (this.canshow) {
         // this.globalshow.show_none_selected = true
            this.globalshow.show_detail = true
           // this.localcreated = this.$store.getters.discovery.selected
            //this.postid =
            
        this.form.carid = this.localcreated.id
       this.form.carname = this.localcreated.extended.carname

        this.form.carsellerprice =this.localcreated.extended.carsellerprice
        this.form.carprofitprice = this.localcreated.extended.carprofitprice
        this.form.caryear =this.localcreated.extended.caryear
        this.form.carmake =this.localcreated.extended.carmake
        this.form.carvin =this.localcreated.extended.carvin
        }else{

           this.globalshow.show_detail = false
       
        //this.form = this.localcreated
        var imgs = this.imgstofilest( this.localcreated.files.imgs)
       
        console.log(imgs)
        var joined = imgs.concat(this.fileList)
        console.log(joined)

        this.fileList = joined
       // this.fileList=this.fileList.concat(imgs)

        }
       // this.globalshow.show_none_selected = false
       


       console.log(this.fileList)


       // console.log(Object.keys(res).length)
      //  console.log(this.localcreated)
      //  console.log(res)
     //   console.log(this.postid)
     //   console.log()
     //   console.log()

        console.log("did check show")
    },
  },

  mounted() {
   this.checkShow()
  },
  
  created() {
  //  this.checkShow()
  }

  ,
  computed: {
    ...mapGetters( 'discovery',{
  // map `this.doneCount` to `this.$store.getters.doneTodosCount`
  localcreated: 'selected',
  selectedL: 'lengthSelected',
  canshow: 'canshowselected'
})
  }
}
</script>

<style  scoped>

</style>